@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans SC', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* cursor: none; */
  scroll-behavior: smooth;
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
}

.hide {
  opacity: 0;
  scale: 0.8;
  transition: all 1s;
  filter: blur(5px);
}

.show {
  opacity: 1;
  scale: 1;
  filter: blur(0);
}

.hide-skills {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}

.hide:nth-child(2) {
  transition-delay: 200ms;
}

.hide:nth-child(3) {
  transition-delay: 400ms;
}

.hide:nth-child(4) {
  transition-delay: 800ms;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
  .hide-skills {
    transition: none;
  }
}
/* Floating Effect */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Hover Pop Effect */
.hover-pop {
  transition: transform 0.3s ease;
}
.hover-pop:hover {
  transform: scale(1.05);
}
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background: rgba(100, 99, 99, 0.452);
  backdrop-filter: blur(1px);
  border: 2px solid rgba(83, 83, 83, 0.671);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 60;
  transition: transform 0.1s ease-out;
}
/* a,
button,
li {
  cursor: none;
} */
