@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  white-space: nowrap;
}

.hide {
  opacity: 0;
  scale: 0.8;
  transition: all 1s;
  filter: blur(5px);
}

.show {
  opacity: 1;
  scale: 1;
  filter: blur(0);
}

.hide-skills {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}

.hide:nth-child(2) {
  transition-delay: 200ms;
}

.hide:nth-child(3) {
  transition-delay: 400ms;
}

.hide:nth-child(4) {
  transition-delay: 800ms;
}

@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
  .hide-skills {
    transition: none;
  }
}
